
.map-view{
background: grey;
}

.button-container {
background: none;
border-radius: 0px;
border: none;
cursor: pointer;
}

.button-container:hover {
background: highlight;
opacity: .5;
}

.buttRoom{
z-index: 1;
width: 100px;
height: 100px
margin-top: -10px;
margin-bottom: -10px;
}

.buttVertical{
z-index: 2;
width: 10px;
height: 100px;
background: none;
margin-bottom: -10px;
margin-right: -6px;
margin-left: -6px;
}

.buttHorizontal{
z-index: 2;
width: 100px;
height: 10px;
}

.placeHolderHorizontal{
z-index: 0;
width: 10px;
height: 10px;
margin-left: -10px;
}