.itemLabel {
    background-color: cornflowerblue;
    color: white;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    padding-bottom: 3px;
    border-color: mediumblue;
    border-width: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    display: inline-block;
    margin-left: 0px;
}

.dungeonListbox{

    height: 100%;
    border-style: solid;
    width: 98%;
    border-width: 2px;
    border-color: lightgray;
    margin-left: 10px;
}
