
.map-view{
background: grey;
}

.button-container {
background: grey;
border-radius: 0px;
border: none;
cursor: pointer;
}

.button-container:hover {
background: highlight;
}

.buttRoom{
width: 100px;
height: 100px
margin-top: -10px;
margin-bottom: -10px;
margin-left: -1px;
}

.buttVertical{
width: 10px;
height: 100px;
background: none;
margin-bottom: -10px;
margin-left: -12px;
}

.buttHorizontal{
width: 100px;
height: 10px;
background: none;
margin-right: -1px;
}