.room:hover {
background: highlight !important;
opacity: .5 !important;
}

.room{
z-index: 1;
width: 100px;
height: 100px;
margin-bottom: 0px;
background: none;
border-radius: 0px;
border: none;
cursor: pointer;
}

.chat-component{
  overflow-y: scroll;
  width: 100%;
}

.chat-component p {
    width: 100%;
}

.button-layout{
width: 200px;
padding: 0px;
margin: 0px;
}

.dice{
    margin-top: 4px;
}